package components

templ Button() {
	<button type="button" class="relative rounded-xl bg-cherry-oak text-old-lace font-aboreto flex flex-row whitespace-nowrap py-3 px-2 m-4 cursor-pointer hover:bg-exotic-skin">
		{ children... }
	</button>
}
