package components

templ Button(stylings ...string) {
	<button
		type="button"
		class={ "relative",
		"rounded-xl",
		"bg-cherry-oak",
		"text-old-lace",
		"font-aboreto",
		"flex",
		"flex-row",
		"whitespace-nowrap",
		"cursor-pointer",
		"transition duration-150 ease-in-out",
		"hover:bg-exotic-skin",
		stylings }
	>
		{ children... }
	</button>
}
