package components

type CardConfig struct {
	ID         string
	Background string
}

templ Card(config CardConfig) {
	<section
		id={ config.ID }
		class={
			"bg-exotic-skin",
			"w-full",
			"h-screen",
			"p-[2.5vw]",
			"snap-start",
			"relative",
		}
	>
		<div
			class={
				config.Background,
				"size-full",
				"rounded-4xl",
				"flex",
				"flex-col",
				"items-center",
				"justify-center",
			}
		>
			{ children... }
		</div>
	</section>
}
