package components

templ Chip(background, basis string) {
	<div
		class={
			background,
			basis,
			"h-min",
			"rounded-xl",
			"p-[1.5vw]",
			"m-[1.5vw]",
			"text-cherry-oak",
			"text-[1.5vw]",
			"font-opensans",
		}
	>
		{ children... }
	</div>
}
