package components

type ChipConfig struct {
	Background string
	Basis      string
}

templ Chip(config ChipConfig) {
	<div
		class={
			config.Background,
			config.Basis,
			"h-min",
			"rounded-xl",
			"py-[2.5vh]",
			"md:py-[2vw]",
			"px-[2vh]",
			"md:px-[1.5vw]",
			"m-[1vh]",
			"md:m-[1.5vw]",
			"text-cherry-oak",
			"text-[1.5vh]",
			"md:text-[1.5vw]",
			"font-opensans",
		}
	>
		{ children... }
	</div>
}
