package components

type ChipConfig struct {
	Background string
	Basis      string
}

templ Chip(config ChipConfig) {
	<div
		class={
			config.Background,
			config.Basis,
			"h-min",
			"rounded-xl",
			"p-[1.5vw]",
			"m-[1.5vw]",
			"text-cherry-oak",
			"text-[1.5vw]",
			"font-opensans",
		}
	>
		{ children... }
	</div>
}
